.header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-left: 200px !important;
  padding-right: 200px !important;
}

.head-title {
  width: 100%;
  max-width: 200px;
}

.menu-button {
  width: 200px !important;
}

.menu-icon {
  color: #fff;
  font-size: 30px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
